<ion-menu side="start" menuId="first" contentId="main">
  <ion-content>
    <div class="menu-header-bg"></div>
    <div class="header-content">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSB-eEHzwWZK2bOPYhe622YvrPNdE_XQoBu5g&usqp=CAU" />
      <ion-label>
        <h2>Chubby</h2>
        <h4>EAT's</h4>
      </ion-label>
    </div>
    <div class="action-button">
      <ion-button>
        <ion-icon slot="start" name="home"></ion-icon>Home
      </ion-button>
    </div>
  </ion-content>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>